<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sibozn.gochat">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>
        <meta-data
            android:name="com.sibozn.gochat.application.MyGlideModule"
            android:value="GlideModule"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.DemoActivity">
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.Main"/>
        <activity android:name="org.kymjs.chat.ChatActivity"/>
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".activity.RegisterActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".activity.UserInfoActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".activity.CreatePostctivity"
            android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity
            android:name=".activity.SearchGIFSActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activity.ChatHistoryActivity"/>
        <!-- &lt;!&ndash; 注册网络连接广播 &ndash;&gt; -->
        <!-- <receiver android:name=".receiver.NetWorkChangeBroadcastReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- [START firebase_service] -->
        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->
        <!-- start 友盟统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57a07efa67e58eb8ce0017e0">
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="google"/>
        <!-- end 友盟统计 -->
        <service android:name=".service.WebSocketClientService">
            <intent-filter>
                <action android:name="com.sibozn.gochat.WEB_SOCKTE_MESSAGE"/>
            </intent-filter>
        </service>
        <!-- <service -->
        <!-- android:name=".service.NetworkStateService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- </service> -->
        <activity android:name=".activity.DemoActivity">
        </activity>
    </application>

</manifest>